<p id="notice"><%= notice %></p>

<p>
  <strong>Nome pesquisa:</strong>
  <%= @pesquisa.nome_pesquisa %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @pesquisa.nome %>
</p>

<p>
  <strong>Like nome:</strong>
  <%= @pesquisa.like_nome %>
</p>

<p>
  <strong>Operador email:</strong>
  <%= @pesquisa.operador_email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pesquisa.email %>
</p>

<p>
  <strong>Like email:</strong>
  <%= @pesquisa.like_email %>
</p>

<p>
  <strong>Operador idade:</strong>
  <%= @pesquisa.operador_idade %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pesquisa.idade %>
</p>

<p>
  <strong>Operador aritmetico idade:</strong>
  <%= @pesquisa.operador_aritmetico_idade %>
</p>

<p>
  <strong>Operador estado:</strong>
  <%= @pesquisa.operador_estado %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pesquisa.estado %>
</p>

<p>
  <strong>Like estado:</strong>
  <%= @pesquisa.like_estado %>
</p>

<p>
  <strong>Operador cargo:</strong>
  <%= @pesquisa.operador_cargo %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @pesquisa.cargo %>
</p>

<p>
  <strong>Like cargo:</strong>
  <%= @pesquisa.like_cargo %>
</p>

<%= link_to 'Edit', edit_pesquisa_path(@pesquisa) %> |
<%= link_to 'Back', pesquisas_path %>
