<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contact.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @contact.idade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contact.estado %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @contact.cargo %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
